Pandas is a Python library, used to analyze data.
It has functions for analyzing, cleaning, exploring, and manipulating data.
The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis"

Pandas allows us to analyze big data and make conclusions based on statistical theories. Pandas can clean messy data sets, and make them readable and relevant. Relevant data is very important in data science.

In [2]:
# sample read
import pandas as pd

df = pd.read_csv('data.csv')

print(df.to_string())

     Unnamed: 0  Duration  Pulse  Maxpulse  Calories
0             0        60    110       130     409.1
1             1        60    117       145     479.0
2             2        60    103       135     340.0
3             3        45    109       175     282.4
4             4        45    117       148     406.0
5             5        60    102       127     300.5
6             6        60    110       136     374.0
7             7        45    104       134     253.3
8             8        30    109       133     195.1
9             9        60     98       124     269.0
10           10        60    103       147     329.3
11           11        60    100       120     250.7
12           12        60    106       128     345.3
13           13        60    104       132     379.3
14           14        60     98       123     275.0
15           15        60     98       120     215.2
16           16        60    100       120     300.0
17           17        45     90       112       NaN
18           18        60    103       123     323.0
19           19        45     97       125     243.0
20           20        60    108       131     364.2
21           21        45    100       119     282.0
22           22        60    130       101     300.0
23           23        45    105       132     246.0
24           24        60    102       126     334.5
25           25        60    100       120     250.0
26           26        60     92       118     241.0
27           27        60    103       132       NaN
28           28        60    100       132     280.0
29           29        60    102       129     380.3
30           30        60     92       115     243.0
31           31        45     90       112     180.1
32           32        60    101       124     299.0
33           33        60     93       113     223.0
34           34        60    107       136     361.0
35           35        60    114       140     415.0
36           36        60    102       127     300.5
37           37        60    100       120     300.1
38           38        60    100       120     300.0
39           39        45    104       129     266.0
40           40        45     90       112     180.1
41           41        60     98       126     286.0
42           42        60    100       122     329.4
43           43        60    111       138     400.0
44           44        60    111       131     397.0
45           45        60     99       119     273.0
46           46        60    109       153     387.6
47           47        45    111       136     300.0
48           48        45    108       129     298.0
49           49        60    111       139     397.6
50           50        60    107       136     380.2
51           51        80    123       146     643.1
52           52        60    106       130     263.0
53           53        60    118       151     486.0
54           54        30    136       175     238.0
55           55        60    121       146     450.7
56           56        60    118       121     413.0
57           57        45    115       144     305.0
58           58        20    153       172     226.4
59           59        45    123       152     321.0
60           60       210    108       160    1376.0
61           61       160    110       137    1034.4
62           62       160    109       135     853.0
63           63        45    118       141     341.0
64           64        20    110       130     131.4
65           65       180     90       130     800.4
66           66       150    105       135     873.4
67           67       150    107       130     816.0
68           68        20    106       136     110.4
69           69       300    108       143    1500.2
70           70       150     97       129    1115.0
71           71        60    109       153     387.6
72           72        90    100       127     700.0
73           73       150     97       127     953.2
74           74        45    114       146     304.0
75           75        90     98       125     563.2
76           76        45    105       134     251.0
77           77        45    110       141     300.0
78           78       120    100       130     500.4
79           79       270    100       131    1729.0
80           80        30    159       182     319.2
81           81        45    149       169     344.0
82           82        30    103       139     151.1
83           83       120    100       130     500.0
84           84        45    100       120     225.3
85           85        30    151       170     300.1
86           86        45    102       136     234.0
87           87       120    100       157    1000.1
88           88        45    129       103     242.0
89           89        20     83       107      50.3
90           90       180    101       127     600.1
91           91        45    107       137       NaN
92           92        30     90       107     105.3
93           93        15     80       100      50.5
94           94        20    150       171     127.4
95           95        20    151       168     229.4
96           96        30     95       128     128.2
97           97        25    152       168     244.2
98           98        30    109       131     188.2
99           99        90     93       124     604.1
100         100        20     95       112      77.7
101         101        90     90       110     500.0
102         102        90     90       100     500.0
103         103        90     90       100     500.4
104         104        30     92       108      92.7
105         105        30     93       128     124.0
106         106       180     90       120     800.3
107         107        30     90       120      86.2
108         108        90     90       120     500.3
109         109       210    137       184    1860.4
110         110        60    102       124     325.2
111         111        45    107       124     275.0
112         112        15    124       139     124.2
113         113        45    100       120     225.3
114         114        60    108       131     367.6
115         115        60    108       151     351.7
116         116        60    116       141     443.0
117         117        60     97       122     277.4
118         118        60    105       125       NaN
119         119        60    103       124     332.7
120         120        30    112       137     193.9
121         121        45    100       120     100.7
122         122        60    119       169     336.7
123         123        60    107       127     344.9
124         124        60    111       151     368.5
125         125        60     98       122     271.0
126         126        60     97       124     275.3
127         127        60    109       127     382.0
128         128        90     99       125     466.4
129         129        60    114       151     384.0
130         130        60    104       134     342.5
131         131        60    107       138     357.5
132         132        60    103       133     335.0
133         133        60    106       132     327.5
134         134        60    103       136     339.0
135         135        20    136       156     189.0
136         136        45    117       143     317.7
137         137        45    115       137     318.0
138         138        45    113       138     308.0
139         139        20    141       162     222.4
140         140        60    108       135     390.0
141         141        60     97       127       NaN
142         142        45    100       120     250.4
143         143        45    122       149     335.4
144         144        60    136       170     470.2
145         145        45    106       126     270.8
146         146        60    107       136     400.0
147         147        60    112       146     361.9
148         148        30    103       127     185.0
149         149        60    110       150     409.4
150         150        60    106       134     343.0
151         151        60    109       129     353.2
152         152        60    109       138     374.0
153         153        30    150       167     275.8
154         154        60    105       128     328.0
155         155        60    111       151     368.5
156         156        60     97       131     270.4
157         157        60    100       120     270.4
158         158        60    114       150     382.8
159         159        30     80       120     240.9
160         160        30     85       120     250.4
161         161        45     90       130     260.4
162         162        45     95       130     270.0
163         163        45    100       140     280.9
164         164        60    105       140     290.8
165         165        60    110       145     300.4
166         166        60    115       145     310.2
167         167        75    120       150     320.4
168         168        75    125       150     330.4

In [4]:
import pandas as pd

raw = {
  'cars': ["Audi", "VW", "BMW"],
  'passings': [4, 6, 3]
}

myvar = pd.DataFrame(raw)

print(myvar)

   cars  passings
0  Audi         4
1    VW         6
2   BMW         3

============= Pandas Series ==============

A Pandas Series is like a column in a table. It is a one-dimensional array holding data of any type.

In [21]:
# Pandas Series
a = [2, 4, 6, 8]
ser = pd.Series(a)
print(ser)
print('first values of Series :', ser[0])

# Create your own labels
ser1 = pd.Series(a, index = ['a', 'b', 'c', 'd'])
print('ser1 -->')
print(ser1)

0    2
1    4
2    6
3    8
dtype: int64
first values of Series : 2
ser1 -->
a    2
b    4
c    6
d    8
dtype: int64

In [25]:
# Create a Series using a Dictionary

calories = {'day1': 400, 'day2': 360, 'day3': 430}
ser2 = pd.Series(calories)
print('ser2 -->')
print(ser2)

# Data only from day1 and day3
ser3 = pd.Series(calories, index = ['day1', 'day3'])
print('ser3 -->')
print(ser3)

ser2 -->
day1    400
day2    360
day3    430
dtype: int64
ser3 -->
day1    400
day3    430
dtype: int64

In [26]:
data = {
    'calories' : [430, 380, 395],
    'day' : ['Monday', 'Wednesday', 'Friday']
}

temp = pd.DataFrame(data)
print('temp -->')
print(temp)

temp -->
   calories        day
0       430     Monday
1       380  Wednesday
2       395     Friday

Pandas DataFrames

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

ex: pd.DataFrame(data)

In [1]:
# Example
import pandas as pd

data = {
    "calories" : [400, 350, 300],
    "duration" : [50, 40, 45]
}

var = pd.DataFrame(data)
print(var)

   calories  duration
0       400        50
1       350        40
2       300        45

In [12]:
# Locate Row
# Pandas use the loc attribute to return one or more specified row(s)
print(var.loc[1])
print(var.loc[[0, 1]])

# Note: When using [], the result is a Pandas DataFrame.

# Giving our own list of names to each row
# With the index argument, you can name your own indexes.

var1 = pd.DataFrame(data, index = ["day 1", "day 2", "day 3"])
print('\n === var1 === \n', var1)

calories    350
duration     40
Name: 1, dtype: int64
   calories  duration
0       400        50
1       350        40

 === var1 ===
        calories  duration
day 1       400        50
day 2       350        40
day 3       300        45

In [13]:
# Locate Named Indexes
# Use the named index in the loc attribute to return the specified row(s).

print(var1.loc["day 2"])

calories    350
duration     40
Name: day 2, dtype: int64

In [ ]:
#Load Files Into a DataFrame 
import pandas as pd

var2 = pd.read_csv('data.csv')

# We can print it using : print(var2)

In [ ]:
# Syntax for returning the headers and the first 5 rows of a DataFrame. head()

var3 = var2.head(10)
print(var3)

# Note : If you do not specify the number in head(), it will by default return 5 rows

   Unnamed: 0  Duration  Pulse  Maxpulse  Calories
0           0        60    110       130     409.1
1           1        60    117       145     479.0
2           2        60    103       135     340.0
3           3        45    109       175     282.4
4           4        45    117       148     406.0
5           5        60    102       127     300.5
6           6        60    110       136     374.0
7           7        45    104       134     253.3
8           8        30    109       133     195.1
9           9        60     98       124     269.0

Read CSV Files
A simple way to store big data sets is to use CSV files (comma separated files).

CSV files contains plain text and is a well know format that can be read by everyone including Pandas.

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df) 

# Tip: use to_string() to print the entire DataFrame. 
# print(df.to_string()) 
# If you have a large DataFrame with many rows, Pandas will only return the first 5 rows, and the last 5 rows

     Unnamed: 0  Duration  Pulse  Maxpulse  Calories
0             0        60    110       130     409.1
1             1        60    117       145     479.0
2             2        60    103       135     340.0
3             3        45    109       175     282.4
4             4        45    117       148     406.0
..          ...       ...    ...       ...       ...
164         164        60    105       140     290.8
165         165        60    110       145     300.4
166         166        60    115       145     310.2
167         167        75    120       150     320.4
168         168        75    125       150     330.4

[169 rows x 5 columns]

In [21]:
# max_rows
# The number of rows returned is defined in Pandas option settings.

# You can check your system's maximum rows with the pd.options.display.max_rows statement.

print(pd.options.display.max_rows) 

# You can change the maximum rows number with the same statement.
# pd.options.display.max_rows = 9999

60

Read JSON
Big data sets are often stored, or extracted as JSON.

JSON is plain text, but has the format of an object, and is well known in the world of programming, including Pandas.

****** JSON = Python Dictionary

JSON objects have the same format as Python dictionaries.

In [24]:
import pandas as pd

var4 = pd.read_json('data.json')
print(var4.to_string())

   EmployeeID           Name   Department  Salary JoiningDate  PerformanceScore  Remote
0         101  Alice Johnson  Engineering   72000  2018-06-15                88   False
1         102      Bob Smith    Marketing   54000  2020-03-01                73    True
2         103  Charlie Brown  Engineering   81000  2016-09-20                91   False
3         104      Diana Lee           HR   59000  2019-02-10                85    True
4         105    Ethan Davis      Finance   67000  2021-08-05                77   False
5         106    Fiona Clark    Marketing   61000  2017-11-25                80    True
6         107  George Wilson  Engineering   94000  2015-04-30                95   False

In [25]:
# If your JSON code is not in a file, but in a Python Dictionary, you can load it into a DataFrame directly:

import pandas as pd

data = {
    "StudyHours": {
        "0": 2.5,
        "1": 3.0,
        "2": 1.5,
        "3": 4.0,
        "4": 2.0,
        "5": 3.5
    },
    "FocusLevel": {
        "0": 80,
        "1": 75,
        "2": 60,
        "3": 90,
        "4": 70,
        "5": 85
    },
    "MaxScore": {
        "0": 88,
        "1": 92,
        "2": 78,
        "3": 95,
        "4": 84,
        "5": 90
    },
    "CaloriesBurned": {
        "0": 150,
        "1": 160,
        "2": 120,
        "3": 180,
        "4": 140,
        "5": 170
    }
}

var5 = pd.DataFrame(data)

print(var5)

   StudyHours  FocusLevel  MaxScore  CaloriesBurned
0         2.5          80        88             150
1         3.0          75        92             160
2         1.5          60        78             120
3         4.0          90        95             180
4         2.0          70        84             140
5         3.5          85        90             170

In [28]:
# There is also a tail() method for viewing the last rows of the DataFrame.

# The tail() method returns the headers and a specified number of rows, starting from the bottom.

print(df.tail())

     Unnamed: 0  Duration  Pulse  Maxpulse  Calories
164         164        60    105       140     290.8
165         165        60    110       145     300.4
166         166        60    115       145     310.2
167         167        75    120       150     320.4
168         168        75    125       150     330.4

In [ ]:
# Info about the data

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  169 non-null    int64
 1   Duration    169 non-null    int64
 2   Pulse       169 non-null    int64
 3   Maxpulse    169 non-null    int64
 4   Calories    164 non-null    float64
dtypes: float64(1), int64(4)
memory usage: 6.7 KB
None


============ Data Cleaning ================

Data cleaning means fixing bad data in your data set.

Bad data could be:

    Empty cells
    Data in wrong format
    Wrong data
    Duplicates

==== Empty Cells
Empty cells can potentially give you a wrong result when you analyze data.

==== Remove Rows
One way to deal with empty cells is to remove rows that contain empty cells.

This is usually OK, since data sets can be very big, and removing a few rows will not have a big impact on the result.

In [32]:
# dropna()
import pandas as pd

temp = pd.read_csv('cleaning.csv')
new_temp = temp.dropna()
print(new_temp.to_string())

    Unnamed: 0  Duration          Date  Pulse  Maxpulse  Calories
0            0        60  '2020/12/01'    110       130     409.1
1            1        60  '2020/12/02'    117       145     479.0
2            2        60  '2020/12/03'    103       135     340.0
3            3        45  '2020/12/04'    109       175     282.4
4            4        45  '2020/12/05'    117       148     406.0
5            5        60  '2020/12/06'    102       127     300.0
6            6        60  '2020/12/07'    110       136     374.0
7            7       450  '2020/12/08'    104       134     253.3
8            8        30  '2020/12/09'    109       133     195.1
9            9        60  '2020/12/10'     98       124     269.0
10          10        60  '2020/12/11'    103       147     329.3
11          11        60  '2020/12/12'    100       120     250.7
12          12        60  '2020/12/12'    100       120     250.7
13          13        60  '2020/12/13'    106       128     345.3
14          14        60  '2020/12/14'    104       132     379.3
15          15        60  '2020/12/15'     98       123     275.0
16          16        60  '2020/12/16'     98       120     215.2
17          17        60  '2020/12/17'    100       120     300.0
19          19        60  '2020/12/19'    103       123     323.0
20          20        45  '2020/12/20'     97       125     243.0
21          21        60  '2020/12/21'    108       131     364.2
23          23        60  '2020/12/23'    130       101     300.0
24          24        45  '2020/12/24'    105       132     246.0
25          25        60  '2020/12/25'    102       126     334.5
26          26        60    26-12-2020    100       120     250.0
27          27        60  '2020/12/27'     92       118     241.0
29          29        60  '2020/12/29'    100       132     280.0
30          30        60  '2020/12/30'    102       129     380.3
31          31        60  '2020/12/31'     92       115     243.0

In [36]:
""" # Note: By default, the dropna() method returns a new DataFrame, and will not change the original.
  If you want to change the original DataFrame, use the inplace = True argument: """

import pandas as pd

temp1 = pd.read_csv('cleaning.csv')
temp1.dropna(inplace = True)
# print(temp1.to_string())

In [35]:
""" Replace Empty Values
Another way of dealing with empty cells is to insert a new value instead.

This way you do not have to delete entire rows just because of some empty cells.

The fillna() method allows us to replace empty cells with a value: """

temp3 = pd.read_csv('cleaning.csv')
temp3.fillna({"Calories": 145}, inplace = True)

In [39]:
""" Replace Using Mean, Median, or Mode
A common way to replace empty cells, is to calculate the mean, median or mode value of the column.
Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column: """

# Mean
temp4 = pd.read_csv('cleaning.csv')
x = temp4["Calories"].mean()
temp4.fillna({"Calories": x}, inplace=True)

# Median
temp5 = pd.read_csv('cleaning.csv')
y = temp5["Calories"].median()
temp5.fillna({"Calories": y}, inplace = True)

# Mode
temp6 = pd.read_csv('cleaning.csv')
z = temp6["Calories"].mode()
temp6.fillna({"Calories": z}, inplace = True)
# Mode = the value that appears most frequently.